# ignore macOS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.AppleDouble
.LSOverride


################


#FolderName/


resources/

# ipynb_checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.ipynb_checkpoints/
*checkpoint.ipynb

#for the pycache
*.pyc
*.pyo


#only for the Pyber project

*.pdf